.container {
    background-color: bisque;
    border: 5px solid rgb(138, 116, 88);
    border-radius: 10px;
    padding: 5px 15px;
    width: 85%;
    margin: 32px auto;
    box-shadow: 5px 5px 20px 20px rgba(255, 255, 255, 0.227);
    overflow: hidden;
    color: black
}

.item {
    background-color: rgb(123, 210, 210);
    border-radius: 5px;
    padding: 10px 8px;
    margin: 20px 0px;
}
.item:hover {
    background-color: rgb(88, 127, 127);
    color: rgb(0, 0, 0);
}

#fruits, #electronics, #stationary {
    float: left;
    width: 30%;
    margin-inline: 1.5%;
    height: 200px;
}

#electronics {
    float: right;
}