*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
header{
  margin: 1rem 0;
}
img{
  user-select: none;
}
.inline {
  display: inline;
}
section{
  border-bottom: 3px solid;
  padding: 3rem 2rem;

  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 1rem;
}
.center-text{
  text-align: center;
}

.App {
  font-size: calc(7px + 2vmin);
  color: white;
  background-color: #282c34;
  line-height: 1.4em;
}

.App-logo {
  height: 40vmin;
  max-height: 600px;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  font-size: 1.3em;
  text-align: center;
  min-height: 100vh;

  align-items: center;
}

.App-link, a {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

code, .code {
  white-space: pre-wrap !important;
  font-family: 'Courier New', Courier, monospace;
  display: block !important;
  box-shadow: 0 0 5px 5px rgba(204, 242, 255, 0.155);
  border: 5px solid hsl(204, 100%, 60%) !important;
  border-radius: 20px !important;
  background-color: hsl(204, 80%, 20%) !important;
  color: black;
  margin: 20px auto !important;
  padding: 1rem 2rem !important;
  width: 95%;
  min-width: 200px;
}
.output::before{
  position: absolute;
  width: 100%;
  left: 0;
  top: -2rem;
  padding: 0.5rem 0.5rem;
  height: 2rem;
  content: 'Output';
  font-size: 1rem;
  line-height: 1rem;
  background-color: hsl(204, 36%, 70%);
  border-radius: 1rem 1rem 0 0;
  box-sizing: border-box;
  color: #282c34;
}
.output{
  position: relative;
  width: 95%;
  margin: 20px auto;
  padding: 1rem;
  background-color: hsl(204, 36%, 30%);
  border-radius: 0 0 1rem 1rem;
}

.unselectable{
  user-select: none;
}

footer{
  position: sticky;
  background-color: hsl(204, 100%, 15%);
  padding: 2rem 1rem;
}
footer>ul{
  margin-left: 1rem;
  list-style-position: inside;
}