:root {
    --background: rgb(0, 0, 0);
    --foreground: rgb(208, 208, 208);
}

body *::-webkit-scrollbar{
    display: none;
}

.Border {
    border: 2px solid rgb(255, 255, 255);
    border-radius: 5px;
}

.redBg {
    background-color: red;
}

.whiteBg {
    background-color: white;
}

#mainBox {
    display: inline;
}

/* Copied from Mozilla website */
details {
    position: relative;
    top: 20px;
    font-family: Arial, Helvetica, sans-serif;
    border: 1px solid #aaa;
    background-color: var(--background);
    border-radius: 4px;
    padding: 0.5em 0.5em 0;
    margin-bottom: 5px;
    transition: 250ms;
}

summary {
    transition: 250ms;
    font-weight: bold;
    margin: -0.5em -0.5em 0;
    padding: 0.5em;
}

details[open] {
    padding: 10px;
    margin-bottom: 20px;
}

details[open] summary {
    border-bottom: 1px solid #aaa;
    margin-bottom: 0.5em;
}

/* Until here */

code, .code {
    white-space: pre-wrap !important;
    font-family: 'Courier New', Courier, monospace;
    display: block !important;
    box-shadow: 0 0 5px 5px rgba(255, 255, 255, 0.3);
    /* border: 5px solid blueviolet !important; */
    /* border-radius: 20px !important; */
    background-color: azure !important;
    color: black;
    margin: 20px auto !important;
    padding-right: 15px !important;
    max-width: fit-content !important;
    width: 80%;
    min-width: 200px;
    overflow-x: scroll;
    white-space: pre !important;
    /* word-break: break-all !important; */
}

.comment {
    color: green;
}

.external_paragraph {
    color: rgb(138, 18, 168);
    border-radius: 5px;
    border: solid 2px rgb(166, 27, 124);
    background-color: rgb(224, 155, 17);
}

a {
    color: blue;
}

a:hover {
    color: rgb(43, 147, 226) !important;
    text-decoration: none;
}

a:visited {
    color: blueviolet;
}

.top-heading {
    text-align: center;
    text-decoration: underline;
}

body {
    font-size: larger;
    width: 70%;
    background-color: var(--background);
    color: var(--foreground);
    font-family: Arial, Helvetica, sans-serif;
    padding: 10px;
    padding-bottom: 50px;
    padding-left: 30px;
}

body header {
    font-family: Georgia, 'Times New Roman', Times, serif;
}

body h1 {
    font-family: Georgia, 'Times New Roman', Times, serif;
}

@media (max-width: 800px) {
    body {
        width: 90%;
        font-size: medium;
    }
    
}
footer {
    top:99%;
    padding: 5px;
    padding-top: 20px;
    padding-bottom: 30px;
    position: fixed;
    width:98.735%;
    left: 0px;
    bottom: 0px;
    border-top: 2px solid var(--foreground);
    display: block;
    background-color: black;
}
footer:hover {
    top:unset;
    bottom: 0px;
}
table,td,th {
    background-color: var(--foreground);
    vertical-align: center;
}
table {
    padding: 5px;
    background-color: gray;
    table-layout: auto;
    margin-top: 20px;
    border-collapse: separate;
    border-radius: 5px;
}
td, th {
    text-align: center;
    min-height: 20px;
    padding: 10px;
}
.inline-code {
    text-indent: 0;
    font-family: 'Courier New', Courier, monospace;
    color: white;
    background-color: gray;
    margin:2px 0px;
    padding: 2px;
    border-radius: 5px;
    display: inline-block;
}
p {
    line-height: 1.5em;
}
pre.normal{
   font-family: inherit;
   white-space: pre-wrap;
   line-height: 1.5em;
}

section {
    padding-bottom: 10px;
    border-bottom: 2px solid var(--foreground);
    margin-top: 10px;
}

a, a:visited {
    color: lightblue;
}

body::before {
    position: fixed;
    top: 0;
    left: 0;
    height: 100vh;
    width: 100vw;
    background-size: cover;
    content: '';
    background-image: url(images/bg.jpg);
    opacity: 0.2;
    z-index: -1;
}

.container {
    color: var(--background);
}