<!DOCTYPE doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <link rel="stylesheet" href="demo-style.css"/>
    <title>Document</title>
    <style>
      body {
        background-color: blue;
      }
      .comment{
        padding: 20px;
        margin: 5px;
        border-radius: 8px;
        background-color: hsl(211.35deg 100% 37.52%);
        box-shadow: 0 0 10px 6px #ff0046;
      }
      .comment>.name{
        font-size: 1.3rem;
        font-weight: bolder;
      }
    </style>
  </head>
  <body> </body>
</html>
<html lang="en">
  <head>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>Document</title>
  </head>
  <body>
    <h1></h1>
    <h2>Anda</h2>
    <div class="my-div loe fjekr ori" id="divy">Bankai</div>
    <div style="color:red;background-color:gray;">Zanka No Tachi!</div><img src="myPhoto.png" alt="This is my photo"/>
    <h1 style="text-align: center">For/Each Loop </h1>
    <div class="flex">
      <p style="text-align: center">1</p>
      <p style="text-align: center">2</p>
      <p style="text-align: center">5</p>
      <p style="text-align: center">6</p>
      <p style="text-align: center">8</p>
      <p style="text-align: center">7</p>
    </div>
    <div class="flex">
      <p style="text-align: center">0: <strong>a</strong></p>
      <p style="text-align: center">1: <strong>b</strong></p>
      <p style="text-align: center">2: <strong>c</strong></p>
      <p style="text-align: center">3: <strong>d</strong></p>
      <p style="text-align: center">4: <strong>e</strong></p>
    </div>
    <div class="flex">
      <p style="text-align: center">85: <strong>Web Dev</strong></p>
      <p style="text-align: center">ker: <strong>poie</strong></p>
    </div>
    <p>
       gogo gaga, <strong>Web Dev</strong></p>
    <div class="comment"> 
      <div class="name">Osman</div>
      <hr/>
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam quis sem lobortis, congue ligula eu, sodales quam. Maecenas consequat, metus eget tempus rutrum, ante ligula placerat sapien, ac sollicitudin tortor ante quis lacus.</p><em>05:50 - 3rd August, 2010</em>
    </div>
  </body>
</html>