<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title></title>
    <link rel="stylesheet" href="style.css">
    <link rel="stylesheet" href="style-home.css">
  </head>
  <body> 
    <nav><a href="/">
        <div class="logo"> <img class="logo-img" src="img/logo.svg" alt="logo">
          <div class="logo-text"></div>
        </div></a>
      <ul> 
        <li id="apply"> <a href="signup">Sign Up</a></li>
      </ul>
    </nav>
    <footer id="footer">Copyright &copy; 2023 MembTemp.com | All rights reserved</footer>
    <script src="index.js"> </script>
  </body>
</html>