<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="stylesheets/style.css">
    <link rel="stylesheet" media="screen and (max-width: 750px)" href="stylesheets/phone.css">
    <title>Order Page</title>
    <style>
        body{
            height: 100vh;
            min-height: 320px;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
        }
        #container {
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: space-evenly;
            height: 50%;
            min-height: 320px;
        }
    </style>
</head>
<body>
    <div id="container">
        <h1 class="h-primary center">Your Order Has Been Placed!</h1>
        <a href = "index" class = "btn">Go Back</a>
    </div>
</body>
</html>