doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title= title
        block script-start
        link(rel="stylesheet", href="style.css")
        block style
    body 
        block nav
            nav
                a(href="/")
                    .logo 
                        img.logo-img(src="img/logo.svg", alt="logo")
                        .logo-text= companyName
                ul 
                    li#apply 
                        a(href="signup") Sign Up
        block content 
        block footer 
            footer#footer
                | Copyright &copy; 2023 MembTemp.com | All rights reserved
        block script-end
